In [1]:
#MEDIAN HOUSEHOLD INCOME BY STATE
#Import the libraries we need
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Import the external data excel file in
income = pd.read_excel('./data/ext_med_house_income_state_17_19.xlsx')

In [3]:
#Display what our file looks like
income.head(10)

,Table with row headers in column A and column headers in rows 8 through 9 and 63 through 64,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78
0,Table H-8. Median Household Income by State: 1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Information on confidentiality protection, sam...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Footnotes are available at <www.census.gov/top...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Source: U.S. Census Bureau, Current Population...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(Households as of March of the following year....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Current Dollars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,State,2020,NaN,2019,NaN,2018,NaN,2017 (40),NaN,2017,...,1988,NaN,1987 (21),NaN,1986,NaN,1985 (20),NaN,1984 (19),NaN
7,NaN,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,...,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error
8,United States,67521,475,68703,550,63179,420,61136,322,61372,...,27225,139,26061,127,24897,129,23618,128,22415,102
9,Alabama,54393,2587,56200,2512,49936,2423,50865,1094,51113,...,19948,912,19734,1147,19132,885,18333,760,17310,605

In [4]:
#Drop the first 6 unnecessary rows
income.drop(index=income.index[0:6], axis=0, inplace=True)

In [5]:
#Keep the figures in current dollars and remove that of 2020 dollars
income.drop(index=income.index[54:], axis=0, inplace=True)

In [6]:
#See what it looks like now
income

,Table with row headers in column A and column headers in rows 8 through 9 and 63 through 64,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78
6,State,2020,NaN,2019,NaN,2018,NaN,2017 (40),NaN,2017,...,1988,NaN,1987 (21),NaN,1986,NaN,1985 (20),NaN,1984 (19),NaN
7,NaN,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,...,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error
8,United States,67521,475,68703,550,63179,420,61136,322,61372,...,27225,139,26061,127,24897,129,23618,128,22415,102
9,Alabama,54393,2587,56200,2512,49936,2423,50865,1094,51113,...,19948,912,19734,1147,19132,885,18333,760,17310,605
10,Alaska,74476,3570,78394,6685,68734,3390,77987,3718,72231,...,33103,1183,33233,1497,31356,1017,34782,1089,32356,1473
11,Arizona,66628,3534,70674,3391,62283,2291,59700,2689,61125,...,26435,843,26749,892,25500,718,23877,744,21425,609
12,Arkansas,50540,1992,54539,2384,49781,2108,49751,2491,48829,...,20172,706,18827,1008,18730,765,17451,764,15674,748
13,California,77358,1351,78105,1850,70489,1233,70038,1576,69759,...,30287,634,30146,538,29010,570,26981,350,25287,364
14,Colorado,82611,6144,72499,5221,73034,3562,74984,2661,74172,...,26214,1285,26476,1075,27192,926,28182,850,25801,805
15,Connecticut,79043,3601,87291,4630,72812,5119,74304,3453,72780,...,36213,1293,32862,1362,32721,1605,31090,1129,29951,1238
16,Delaware,69132,5258,74194,3009,65012,3599,64961,5230,62318,...,30505,1167,29244,875,25626,1212,22980,1366,25819,1027
17,District of Columbia,88311,3531,93111,3884,85750,2659,81282,1903,83382,...,26741,748,27455,1285,24322,1252,21076,756,20408,860
18,Florida,57435,1766,58368,1579,54644,1887,53086,1438,53681,...,25406,475,24489,476,22849,540,21343,437,19785,468
19,Georgia,58952,2080,56628,1782,55821,2032,57985,2288,57016,...,26566,896,26714,1380,24370,1112,21049,788,19984,815
20,Hawaii,80729,2487,88006,3565,80108,3482,73599,2352,73575,...,33024,1482,35022,1074,29003,1206,28961,1446,28877,1216
21,Idaho,66499,1961,65988,2152,58728,2405,59497,2259,60208,...,23450,1004,20755,834,20749,680,20761,598,21092,963
22,Illinois,73753,2335,74399,2625,70145,2253,65969,1667,64609,...,29524,754,27084,536,26511,634,24870,523,23752,567
23,Indiana,66360,4086,66693,3112,59892,1997,58767,1655,58873,...,26293,931,22519,944,22728,709,22675,626,22770,710
24,Iowa,68469,3475,66054,4009,68718,2910,63467,4760,63481,...,24305,1078,22190,912,22459,750,20927,604,19863,745
25,Kansas,72815,3671,73151,4329,63938,2027,56900,1937,57872,...,25566,1153,25583,900,23926,782,22788,1033,24629,912
26,Kentucky,56525,2361,55662,2553,54555,3668,49672,1885,51348,...,19907,801,20673,939,19874,1006,17361,748,17680,1079
27,Louisiana,50935,1637,51707,1412,49973,1754,43565,2088,43903,...,20497,1474,21349,858,20890,956,21179,728,18949,880
28,Maine,63440,3198,66546,5002,58663,5683,53316,3121,51664,...,26402,942,23600,1019,23424,970,20519,803,20648,884
29,Maryland,94384,4208,95572,3284,86223,3331,82093,3643,81084,...,36552,1196,34970,1388,30604,1036,30136,966,29708,1151
30,Massachusetts,86725,6349,87707,2828,86345,2785,76243,2394,73227,...,33213,839,32241,716,30339,735,28207,810,26959,693
31,Michigan,63829,3320,64119,1680,60449,1906,56405,2286,57700,...,29472,607,27702,724,26605,648,24242,838,22965,635
32,Minnesota,78461,3498,81426,2988,71817,3656,69975,4649,71920,...,29087,1041,28082,1113,26443,1150,23856,1022,24436,914
33,Mississippi,44966,2695,44787,2997,42781,2304,43281,1795,43441,...,18166,888,18513,901,16513,639,16413,619,15430,732
34,Missouri,61901,2594,60597,2932,61726,2442,56530,2333,56885,...,23443,1088,23720,1167,21925,772,21939,608,20775,715
35,Montana,56442,2479,60195,2294,57679,2876,57407,2223,59087,...,22231,829,20474,799,20328,749,20236,800,19536,720
36,Nebraska,72024,2409,73071,3259,67575,3933,59583,2790,59619,...,25159,960,23268,761,21772,814,21799,914,21397,765
37,Nevada,60956,2448,70906,3465,61864,2116,58041,2952,56550,...,27983,956,26878,1128,26217,895,23274,1005,25776,1018
38,New Hampshire,88235,3325,86900,2721,81346,3394,75630,3941,74801,...,34625,1129,32338,1450,30548,829,26403,1074,25914,735
39,New Jersey,85239,4164,87726,4069,74176,2845,71240,4129,72997,...,36287,658,34241,794,31715,842,30980,643,27776,800
40,New Mexico,50822,1732,53113,2196,48283,2202,45601,1826,47855,...,19296,833,20758,621,19845,693,20423,1025,20630,1029
41,New York,68304,2384,71855,1699,67274,1722,61543,1722,62447,...,28915,668,26384,456,25025,474,23639,523,22027,417
42,North Carolina,60266,1823,61159,1649,53369,1761,49547,2217,50343,...,24415,536,22760,542,21861,698,21451,585,20569,641
43,North Dakota,63657,2312,70031,3170,66505,3095,60167,2102,59886,...,24092,1009,22576,905,21508,785,21205,809,20771,1038
44,Ohio,60110,1577,64663,3011,61633,2254,60688,1892,59768,...,27740,636,25773,555,25115,588,25174,564,23123,492
45,Oklahoma,52341,1785,59397,2357,54434,2774,51882,3109,55006,...,23667,756,21691,884,20948,871,21205,764,21148,718
46,Oregon,76554,3465,74413,5675,69165,3655,62498,2542,64610,...,27748,1150,25038,1092,24773,1002,21894,1042,21399,745
47,Pennsylvania,70117,3524,70582,3226,64524,1635,61285,1846,63173,...,26742,497,25424,541,23807,495,22877,538,20346,499
48,Rhode Island,80012,3430,70151,4980,62266,3348,65401,4044,66390,...,29842,1584,28292,1440,26540,1060,24625,900,21612,848
49,South Carolina,60097,2037,62028,1783,57444,2082,54537,2133,54971,...,25533,1150,25049,1136,21968,864,20036,862,20309,934
50,South Dakota,69787,4317,64255,3776,59463,2642,56914,3986,56894,...,22294,703,21151,597,19898,664,18142,702,19409,928
51,Tennessee,54665,1803,56627,2766,56060,1442,55306,2131,55240,...,20856,1017,21179,795,18256,884,17778,557,16782,576
52,Texas,68093,1914,67444,1769,59785,1372,60092,1326,59295,...,24963,582,24721,637,24162,514,23743,546,23024,533
53,Utah,83670,2981,84523,3494,77067,2327,69789,2164,71319,...,26313,909,26529,1194,26281,810,25238,702,23057,735
54,Vermont,66902,4046,74305,3084,70066,2350,63682,3308,63805,...,28988,1077,25415,1374,24599,1003,26000,942,22578,983
55,Virginia,81947,3172,81313,3056,77151,3086,70811,3805,71293,...,32648,1319,29996,1013,29715,1074,28429,1324,26525,874
56,Washington,81083,3095,82454,2920,79726,3025,71540,2124,75418,...,32327,1030,27319,1108,26881,950,24000,756,25017,823
57,West Virginia,51615,2177,53706,2995,50573,1337,46957,1277,45392,...,19353,930,17207,778,16464,905,15983,828,16843,608
58,Wisconsin,67094,4690,67355,2323,62629,2039,63482,2908,63451,...,29575,978,26369,1410,26430,803,23246,1161,20743,821
59,Wyoming,65108,2152,65134,3773,62539,3892,59536,3184,57837,...,26419,1095,27590,1458,23559,863,22081,1049,23816,731

In [7]:
income.columns

Index(['Table with row headers in column A and column headers in rows 8 through 9 and 63 through 64',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62',
       'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66',
       'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70',
       'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74',
       'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78'],
      dtype='object')

In [8]:
#Remove unneccesary column name
income.columns = income.iloc[0]

In [9]:
income.head()

6,State,2020,NaN,2019,NaN,2018,NaN,2017 (40),NaN,2017,...,1988,NaN,1987 (21),NaN,1986,NaN,1985 (20),NaN,1984 (19),NaN
6,State,2020,NaN,2019,NaN,2018,NaN,2017 (40),NaN,2017,...,1988,NaN,1987 (21),NaN,1986,NaN,1985 (20),NaN,1984 (19),NaN
7,NaN,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,...,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error
8,United States,67521,475,68703,550,63179,420,61136,322,61372,...,27225,139,26061,127,24897,129,23618,128,22415,102
9,Alabama,54393,2587,56200,2512,49936,2423,50865,1094,51113,...,19948,912,19734,1147,19132,885,18333,760,17310,605
10,Alaska,74476,3570,78394,6685,68734,3390,77987,3718,72231,...,33103,1183,33233,1497,31356,1017,34782,1089,32356,1473

In [10]:
#Change the column header into strings
income.columns = income.columns.astype(str)

In [11]:
#Strip out the white spaces
income.columns = income.columns.str.strip()

In [12]:
income.reset_index(drop=True)

6,State,2020,nan,2019,nan,2018,nan,2017 (40),nan,2017,...,1988,nan,1987 (21),nan,1986,nan,1985 (20),nan,1984 (19),nan
0,State,2020,NaN,2019,NaN,2018,NaN,2017 (40),NaN,2017,...,1988,NaN,1987 (21),NaN,1986,NaN,1985 (20),NaN,1984 (19),NaN
1,NaN,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,...,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error
2,United States,67521,475,68703,550,63179,420,61136,322,61372,...,27225,139,26061,127,24897,129,23618,128,22415,102
3,Alabama,54393,2587,56200,2512,49936,2423,50865,1094,51113,...,19948,912,19734,1147,19132,885,18333,760,17310,605
4,Alaska,74476,3570,78394,6685,68734,3390,77987,3718,72231,...,33103,1183,33233,1497,31356,1017,34782,1089,32356,1473
5,Arizona,66628,3534,70674,3391,62283,2291,59700,2689,61125,...,26435,843,26749,892,25500,718,23877,744,21425,609
6,Arkansas,50540,1992,54539,2384,49781,2108,49751,2491,48829,...,20172,706,18827,1008,18730,765,17451,764,15674,748
7,California,77358,1351,78105,1850,70489,1233,70038,1576,69759,...,30287,634,30146,538,29010,570,26981,350,25287,364
8,Colorado,82611,6144,72499,5221,73034,3562,74984,2661,74172,...,26214,1285,26476,1075,27192,926,28182,850,25801,805
9,Connecticut,79043,3601,87291,4630,72812,5119,74304,3453,72780,...,36213,1293,32862,1362,32721,1605,31090,1129,29951,1238
10,Delaware,69132,5258,74194,3009,65012,3599,64961,5230,62318,...,30505,1167,29244,875,25626,1212,22980,1366,25819,1027
11,District of Columbia,88311,3531,93111,3884,85750,2659,81282,1903,83382,...,26741,748,27455,1285,24322,1252,21076,756,20408,860
12,Florida,57435,1766,58368,1579,54644,1887,53086,1438,53681,...,25406,475,24489,476,22849,540,21343,437,19785,468
13,Georgia,58952,2080,56628,1782,55821,2032,57985,2288,57016,...,26566,896,26714,1380,24370,1112,21049,788,19984,815
14,Hawaii,80729,2487,88006,3565,80108,3482,73599,2352,73575,...,33024,1482,35022,1074,29003,1206,28961,1446,28877,1216
15,Idaho,66499,1961,65988,2152,58728,2405,59497,2259,60208,...,23450,1004,20755,834,20749,680,20761,598,21092,963
16,Illinois,73753,2335,74399,2625,70145,2253,65969,1667,64609,...,29524,754,27084,536,26511,634,24870,523,23752,567
17,Indiana,66360,4086,66693,3112,59892,1997,58767,1655,58873,...,26293,931,22519,944,22728,709,22675,626,22770,710
18,Iowa,68469,3475,66054,4009,68718,2910,63467,4760,63481,...,24305,1078,22190,912,22459,750,20927,604,19863,745
19,Kansas,72815,3671,73151,4329,63938,2027,56900,1937,57872,...,25566,1153,25583,900,23926,782,22788,1033,24629,912
20,Kentucky,56525,2361,55662,2553,54555,3668,49672,1885,51348,...,19907,801,20673,939,19874,1006,17361,748,17680,1079
21,Louisiana,50935,1637,51707,1412,49973,1754,43565,2088,43903,...,20497,1474,21349,858,20890,956,21179,728,18949,880
22,Maine,63440,3198,66546,5002,58663,5683,53316,3121,51664,...,26402,942,23600,1019,23424,970,20519,803,20648,884
23,Maryland,94384,4208,95572,3284,86223,3331,82093,3643,81084,...,36552,1196,34970,1388,30604,1036,30136,966,29708,1151
24,Massachusetts,86725,6349,87707,2828,86345,2785,76243,2394,73227,...,33213,839,32241,716,30339,735,28207,810,26959,693
25,Michigan,63829,3320,64119,1680,60449,1906,56405,2286,57700,...,29472,607,27702,724,26605,648,24242,838,22965,635
26,Minnesota,78461,3498,81426,2988,71817,3656,69975,4649,71920,...,29087,1041,28082,1113,26443,1150,23856,1022,24436,914
27,Mississippi,44966,2695,44787,2997,42781,2304,43281,1795,43441,...,18166,888,18513,901,16513,639,16413,619,15430,732
28,Missouri,61901,2594,60597,2932,61726,2442,56530,2333,56885,...,23443,1088,23720,1167,21925,772,21939,608,20775,715
29,Montana,56442,2479,60195,2294,57679,2876,57407,2223,59087,...,22231,829,20474,799,20328,749,20236,800,19536,720
30,Nebraska,72024,2409,73071,3259,67575,3933,59583,2790,59619,...,25159,960,23268,761,21772,814,21799,914,21397,765
31,Nevada,60956,2448,70906,3465,61864,2116,58041,2952,56550,...,27983,956,26878,1128,26217,895,23274,1005,25776,1018
32,New Hampshire,88235,3325,86900,2721,81346,3394,75630,3941,74801,...,34625,1129,32338,1450,30548,829,26403,1074,25914,735
33,New Jersey,85239,4164,87726,4069,74176,2845,71240,4129,72997,...,36287,658,34241,794,31715,842,30980,643,27776,800
34,New Mexico,50822,1732,53113,2196,48283,2202,45601,1826,47855,...,19296,833,20758,621,19845,693,20423,1025,20630,1029
35,New York,68304,2384,71855,1699,67274,1722,61543,1722,62447,...,28915,668,26384,456,25025,474,23639,523,22027,417
36,North Carolina,60266,1823,61159,1649,53369,1761,49547,2217,50343,...,24415,536,22760,542,21861,698,21451,585,20569,641
37,North Dakota,63657,2312,70031,3170,66505,3095,60167,2102,59886,...,24092,1009,22576,905,21508,785,21205,809,20771,1038
38,Ohio,60110,1577,64663,3011,61633,2254,60688,1892,59768,...,27740,636,25773,555,25115,588,25174,564,23123,492
39,Oklahoma,52341,1785,59397,2357,54434,2774,51882,3109,55006,...,23667,756,21691,884,20948,871,21205,764,21148,718
40,Oregon,76554,3465,74413,5675,69165,3655,62498,2542,64610,...,27748,1150,25038,1092,24773,1002,21894,1042,21399,745
41,Pennsylvania,70117,3524,70582,3226,64524,1635,61285,1846,63173,...,26742,497,25424,541,23807,495,22877,538,20346,499
42,Rhode Island,80012,3430,70151,4980,62266,3348,65401,4044,66390,...,29842,1584,28292,1440,26540,1060,24625,900,21612,848
43,South Carolina,60097,2037,62028,1783,57444,2082,54537,2133,54971,...,25533,1150,25049,1136,21968,864,20036,862,20309,934
44,South Dakota,69787,4317,64255,3776,59463,2642,56914,3986,56894,...,22294,703,21151,597,19898,664,18142,702,19409,928
45,Tennessee,54665,1803,56627,2766,56060,1442,55306,2131,55240,...,20856,1017,21179,795,18256,884,17778,557,16782,576
46,Texas,68093,1914,67444,1769,59785,1372,60092,1326,59295,...,24963,582,24721,637,24162,514,23743,546,23024,533
47,Utah,83670,2981,84523,3494,77067,2327,69789,2164,71319,...,26313,909,26529,1194,26281,810,25238,702,23057,735
48,Vermont,66902,4046,74305,3084,70066,2350,63682,3308,63805,...,28988,1077,25415,1374,24599,1003,26000,942,22578,983
49,Virginia,81947,3172,81313,3056,77151,3086,70811,3805,71293,...,32648,1319,29996,1013,29715,1074,28429,1324,26525,874
50,Washington,81083,3095,82454,2920,79726,3025,71540,2124,75418,...,32327,1030,27319,1108,26881,950,24000,756,25017,823
51,West Virginia,51615,2177,53706,2995,50573,1337,46957,1277,45392,...,19353,930,17207,778,16464,905,15983,828,16843,608
52,Wisconsin,67094,4690,67355,2323,62629,2039,63482,2908,63451,...,29575,978,26369,1410,26430,803,23246,1161,20743,821
53,Wyoming,65108,2152,65134,3773,62539,3892,59536,3184,57837,...,26419,1095,27590,1458,23559,863,22081,1049,23816,731

In [13]:
income = income.rename( columns = {
    '2017': 'income_2017',
    '2018': 'income_2018',
    '2019': 'income_2019',
    })

In [14]:
income.head()

6,State,2020,nan,income_2019,nan,income_2018,nan,2017 (40),nan,income_2017,...,1988,nan,1987 (21),nan,1986,nan,1985 (20),nan,1984 (19),nan
6,State,2020,NaN,2019,NaN,2018,NaN,2017 (40),NaN,2017,...,1988,NaN,1987 (21),NaN,1986,NaN,1985 (20),NaN,1984 (19),NaN
7,NaN,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,...,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error
8,United States,67521,475,68703,550,63179,420,61136,322,61372,...,27225,139,26061,127,24897,129,23618,128,22415,102
9,Alabama,54393,2587,56200,2512,49936,2423,50865,1094,51113,...,19948,912,19734,1147,19132,885,18333,760,17310,605
10,Alaska,74476,3570,78394,6685,68734,3390,77987,3718,72231,...,33103,1183,33233,1497,31356,1017,34782,1089,32356,1473

In [15]:
#Isolate the figures for 2017
income_2017 = income[["State","income_2017"]].reset_index()
income_2017

6   index                 State    income_2017
0       6                 State           2017
1       7                   NaN  Median income
2       8         United States          61372
3       9               Alabama          51113
4      10                Alaska          72231
5      11               Arizona          61125
6      12              Arkansas          48829
7      13            California          69759
8      14              Colorado          74172
9      15           Connecticut          72780
10     16              Delaware          62318
11     17  District of Columbia          83382
12     18               Florida          53681
13     19               Georgia          57016
14     20                Hawaii          73575
15     21                 Idaho          60208
16     22              Illinois          64609
17     23               Indiana          58873
18     24                  Iowa          63481
19     25                Kansas          57872
20     26              Kentucky          51348
21     27             Louisiana          43903
22     28                 Maine          51664
23     29              Maryland          81084
24     30         Massachusetts          73227
25     31              Michigan          57700
26     32             Minnesota          71920
27     33           Mississippi          43441
28     34              Missouri          56885
29     35               Montana          59087
30     36              Nebraska          59619
31     37                Nevada          56550
32     38         New Hampshire          74801
33     39            New Jersey          72997
34     40            New Mexico          47855
35     41              New York          62447
36     42        North Carolina          50343
37     43          North Dakota          59886
38     44                  Ohio          59768
39     45              Oklahoma          55006
40     46                Oregon          64610
41     47          Pennsylvania          63173
42     48          Rhode Island          66390
43     49        South Carolina          54971
44     50          South Dakota          56894
45     51             Tennessee          55240
46     52                 Texas          59295
47     53                  Utah          71319
48     54               Vermont          63805
49     55              Virginia          71293
50     56            Washington          75418
51     57         West Virginia          45392
52     58             Wisconsin          63451
53     59               Wyoming          57837

In [16]:
#Remove the index column
income_2017 = pd.DataFrame.drop(income_2017, 'index', axis=1)

In [17]:
#MEDIAN INCOME DATE FOR HOUSEHOLDS IN 2017
income_2017 = income_2017[2:]
income_2017

6                  State income_2017
2          United States       61372
3                Alabama       51113
4                 Alaska       72231
5                Arizona       61125
6               Arkansas       48829
7             California       69759
8               Colorado       74172
9            Connecticut       72780
10              Delaware       62318
11  District of Columbia       83382
12               Florida       53681
13               Georgia       57016
14                Hawaii       73575
15                 Idaho       60208
16              Illinois       64609
17               Indiana       58873
18                  Iowa       63481
19                Kansas       57872
20              Kentucky       51348
21             Louisiana       43903
22                 Maine       51664
23              Maryland       81084
24         Massachusetts       73227
25              Michigan       57700
26             Minnesota       71920
27           Mississippi       43441
28              Missouri       56885
29               Montana       59087
30              Nebraska       59619
31                Nevada       56550
32         New Hampshire       74801
33            New Jersey       72997
34            New Mexico       47855
35              New York       62447
36        North Carolina       50343
37          North Dakota       59886
38                  Ohio       59768
39              Oklahoma       55006
40                Oregon       64610
41          Pennsylvania       63173
42          Rhode Island       66390
43        South Carolina       54971
44          South Dakota       56894
45             Tennessee       55240
46                 Texas       59295
47                  Utah       71319
48               Vermont       63805
49              Virginia       71293
50            Washington       75418
51         West Virginia       45392
52             Wisconsin       63451
53               Wyoming       57837

In [18]:
#Isolate the figures for 2018
income_2018 = income[["income_2018"]].reset_index()
income_2018 = pd.DataFrame.drop(income_2018, 'index', axis=1)
income_2018 = income_2018[2:]
#MEDIAN INCOME DATE FOR HOUSEHOLDS IN 2018
income_2018

6  income_2018
2        63179
3        49936
4        68734
5        62283
6        49781
7        70489
8        73034
9        72812
10       65012
11       85750
12       54644
13       55821
14       80108
15       58728
16       70145
17       59892
18       68718
19       63938
20       54555
21       49973
22       58663
23       86223
24       86345
25       60449
26       71817
27       42781
28       61726
29       57679
30       67575
31       61864
32       81346
33       74176
34       48283
35       67274
36       53369
37       66505
38       61633
39       54434
40       69165
41       64524
42       62266
43       57444
44       59463
45       56060
46       59785
47       77067
48       70066
49       77151
50       79726
51       50573
52       62629
53       62539

In [19]:
#Isolate the figures for 2019
income_2019 = income[["income_2019"]].reset_index()
income_2019 = pd.DataFrame.drop(income_2019, 'index', axis=1)
income_2019 = income_2019[2:]
#MEDIAN INCOME DATE FOR HOUSEHOLDS IN 2019
income_2019

6  income_2019
2        68703
3        56200
4        78394
5        70674
6        54539
7        78105
8        72499
9        87291
10       74194
11       93111
12       58368
13       56628
14       88006
15       65988
16       74399
17       66693
18       66054
19       73151
20       55662
21       51707
22       66546
23       95572
24       87707
25       64119
26       81426
27       44787
28       60597
29       60195
30       73071
31       70906
32       86900
33       87726
34       53113
35       71855
36       61159
37       70031
38       64663
39       59397
40       74413
41       70582
42       70151
43       62028
44       64255
45       56627
46       67444
47       84523
48       74305
49       81313
50       82454
51       53706
52       67355
53       65134

In [20]:
med_income_17_19 = pd.concat([income_2017, income_2018, income_2019], axis=1)
med_income_17_19

6                  State income_2017 income_2018 income_2019
2          United States       61372       63179       68703
3                Alabama       51113       49936       56200
4                 Alaska       72231       68734       78394
5                Arizona       61125       62283       70674
6               Arkansas       48829       49781       54539
7             California       69759       70489       78105
8               Colorado       74172       73034       72499
9            Connecticut       72780       72812       87291
10              Delaware       62318       65012       74194
11  District of Columbia       83382       85750       93111
12               Florida       53681       54644       58368
13               Georgia       57016       55821       56628
14                Hawaii       73575       80108       88006
15                 Idaho       60208       58728       65988
16              Illinois       64609       70145       74399
17               Indiana       58873       59892       66693
18                  Iowa       63481       68718       66054
19                Kansas       57872       63938       73151
20              Kentucky       51348       54555       55662
21             Louisiana       43903       49973       51707
22                 Maine       51664       58663       66546
23              Maryland       81084       86223       95572
24         Massachusetts       73227       86345       87707
25              Michigan       57700       60449       64119
26             Minnesota       71920       71817       81426
27           Mississippi       43441       42781       44787
28              Missouri       56885       61726       60597
29               Montana       59087       57679       60195
30              Nebraska       59619       67575       73071
31                Nevada       56550       61864       70906
32         New Hampshire       74801       81346       86900
33            New Jersey       72997       74176       87726
34            New Mexico       47855       48283       53113
35              New York       62447       67274       71855
36        North Carolina       50343       53369       61159
37          North Dakota       59886       66505       70031
38                  Ohio       59768       61633       64663
39              Oklahoma       55006       54434       59397
40                Oregon       64610       69165       74413
41          Pennsylvania       63173       64524       70582
42          Rhode Island       66390       62266       70151
43        South Carolina       54971       57444       62028
44          South Dakota       56894       59463       64255
45             Tennessee       55240       56060       56627
46                 Texas       59295       59785       67444
47                  Utah       71319       77067       84523
48               Vermont       63805       70066       74305
49              Virginia       71293       77151       81313
50            Washington       75418       79726       82454
51         West Virginia       45392       50573       53706
52             Wisconsin       63451       62629       67355
53               Wyoming       57837       62539       65134

In [21]:
med_income_17_19.to_excel (r'C:\Users\User\OneDrive\General Assembly Data Science Immersive\GA_DSI\ga_DSIF5\my_projects\project_1\data\cleaned_data\income_cleaned.xlsx', index = False, header=True)